<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.5" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="3.1.2" targetFramework="net461" />
  <package id="MoralesLarios.CustomsControls" version="1.0.0.10" targetFramework="net461" />
  <package id="SpireXLSstandard" version="9.1.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>